{% extends "admin/index.html" %}

{% block sidebar %}
  {{ block.super }}
  {% if custom_list %}
  <div class="module" style="float: left; width: 498px">
    <table style="width: 100%">
      <caption>Дії</caption>
      <tbody>

        {% url 'admin:export_xlsx' as view_url %}
        {% for path, name in custom_list %}
          {% if '/admin/'|add:path == view_url %}
            <tr><th><a href="{{ path }}?category=PETROL">{{ name }}: АБ</a></th></tr>
            <tr><th><a href="{{ path }}?category=DIESEL">{{ name }}: ДП</a></th></tr>
            <tr><th><a href="{{ path }}?category=OIL">{{ name }}: МіМ</a></th></tr>
            <tr><th><a href="{{ path }}?category=POISON">{{ name }}: ОТРУТИ</a></th></tr>
            <tr><th><a href="{{ path }}">{{ name }}: Всі ПММ </a></th></tr>
          {% else %}
            <tr><th><a href="{{ path }}">{{ name }}</a></th></tr>
          {% endif %}
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% endif %}
{% endblock %}